--2019-12-30 18:50:44--  https://github.com/github/gitignore/blob/master/Unity.gitignore
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘Unity.gitignore’

     0K .......... .......... .......... .......... ..........  362K
    50K .......... .......... .......... ........              1.41M=0.2s

2019-12-30 18:50:45 (537 KB/s) - ‘Unity.gitignore’ saved [90521]

